<html>
<head>
  <title>nopaste</title>
</head>
<body>
  <h1>nopaste</h1>
  <form action="/" method="post">
  <textarea rows="10" name="description"></textarea>
  <input type="submit">
  </form>
</body>
</html>
